<div class="timeline is-centered">
  <header class="timeline-header">
    <span class="tag is-medium is-primary"> <%- __('latest') %> </span>
  </header>
  <% let curYear = '';let counter = 0; if (site.posts.length) { -%>
  <!-- loop start -->
  <% site.posts.sort('date', -1).limit(site.posts.length).each(function(post){%>
  <!-- insert year tag  -->
  <% if(curYear !== date(post.date, 'YYYY') && counter > 0) { %>
  <!-- current year  -->
  <%curYear = date(post.date,'YYYY')%>
  <header class="timeline-header">
    <span class="tag is-primary"><%= curYear %></span>
  </header>
  <% } %>
  <!-- insert year end  -->
  <!-- loop counter  -->
  <% counter ++%>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading"><%= date(post.date, config.date_format) %></p>
      <p>
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
      </p>
    </div>
  </div>
  <% }) %>
  <!-- loop end  -->
  <% } %>
  <div class="timeline-header">
    <span class="tag is-medium is-primary"> <%- __('earliest') %> </span>
  </div>
</div>
