<% page.posts.each(function(item){ %>
<div class="card mb-4">
  <header class="card-header" style="box-shadow: none">
    <p class="is-size-4 card-header-title">
      <a href="<%- url_for(item.path) %>"> <%- item.title %> </a>
    </p>
    <% if(item.categories && item.categories.length) { %>
      <% item.categories.forEach(function(cate) { %>
        <a href="<%- url_for(cate.path) %>" class="button is-white">
          <span class="icon mr-1">
            <i class="fas fa-archive"></i>
          </span>
          <%- cate.name %>
        </a>
        <% }) %>
    <% } %>
  </header>
  <div class="card-content">
    <p class="is-size-6">
      <%if(item.excerpt) {%> <%- strip_html(item.excerpt) %> <%}%>
      <a href="<%- url_for(item.path) %>">[<%- __('read_more') %>]</a>
    </p>
  </div>
  <footer class="card-footer">
    <button class="button is-white has-text-grey">
      <time><%- date(item.date,config.date_format) %> </time>
    </button>
    <% if(item.tags && item.tags.length) { %>
    <div class="button is-white">
      <!-- 页面设置了标签 -->
      <% item.tags.forEach(function(tag) { %>
      <a href="<%- url_for(tag.path) %>" class="tag is-info icon-text">
        <span class="icon mr-1">
          <i class="fas fa-tag"></i>
        </span>
        <%- tag.name %>
      </a>
      <% }) %>
    </div>
    <% } %>
  </footer>
</div>
<% }); %>

<!-- Index nav -->
<% if (page.total > 1) { %>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <%- bulma_paginator({ prev_text: __('prev'), next_text: __('next'), space:
  '&hellip;' }) %>
</nav>
<% } %>

<script>
  $(".dropdown-trigger").click(function () {
    $(this).parent().toggleClass("is-active");
  });
</script>
