<!DOCTYPE html>
<html lang="zh" class="has-navbar-fixed-top">
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>
    <main class="container mt-4">
      <div class="columns is-flex-direction-row">
        <div class="column is-three-quarters is-justify-content-center"><%- body %></div>
        <aside class="column"><%- partial('_partial/aside') %></aside>
      </div>
    </main>
    <%- partial('_partial/footer') %>
  </body>
</html>
