<!DOCTYPE html>
<html lang="zh" class="has-navbar-fixed-top">
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>
    <main class="container mt-4">
      <div class="columns">
        <div class="column is-three-quarters"><%- body %></div>
        <aside class="column">
          <div class="is-sticky">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
                  eros. Donec id elit non mi porta gravida at eget metus. Cum
                  sociis natoque penatibus et magnis dis parturient montes,
                  nascetur ridiculus mus. Cras mattis consectetur purus sit amet
                  fermentum.
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </main>
    <%- partial('_partial/footer') %> <%- partial('_partial/scripts') %>
  </body>
</html>
