<% for (var link in site.data.links) { %>
<div class="box is-inline-block mr-1">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          src="<%- url_for(site.data.links[link].avatar) %> "
          alt="<%- link %>"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <a href="<%- site.data.links[link].link %> " id="href">
            <strong> <%- link %> </strong>
          </a>
        </p>
        <p><%- site.data.links[link].descr %></p>
      </div>
    </div>
  </article>
</div>
<% } %>
