<div class="card" id="post-main-content">
  <header class="card-header">
    <p class="is-size-3 card-header-title"><%- page.title %></p>
  </header>
  <div class="card-neck">
    <div>
      发布于：
      <time>
        <%- date(page.date, config.date_format +' '+ config.time_format) %>
      </time>
    </div>
    <div>
      <% page.tags.forEach(function(tag) { %>
      <a href="<%- url_for(tag.path) %>" class="tag is-info icon-text">
        <span class="icon mr-1">
          <i class="fas fa-tag"></i>
        </span>
        <%- tag.name %>
      </a>
      <% }) %>
    </div>
  </div>
  <div class="card-content" id="artDetail">
    <div class="content"><%- page.content %></div>
  </div>
  <footer class="card-footer is-justify-content-flex-end">
    <button class="button is-white has-text-grey">
      <time><%- date(page.date,config.date_format) %> </time>
    </button>
  </footer>
</div>
<!-- 图片预览 -->
<%- css('https://cdn.bootcdn.net/ajax/libs/viewerjs/1.7.1/viewer.min.css') %>
<%- js('https://cdn.bootcdn.net/ajax/libs/viewerjs/1.7.1/viewer.min.js') %> <%-
js('js/scroll.js') %>
<!-- dom -->
<%- js('js/dom.js') %>
<!-- beauty -->
<%- js('js/post-beauty.js') %>
<!-- 代码块功能依赖 -->
<%- js('/js/codeBlock/codeBlockFuction.js') %>
<!-- 代码语言 -->
<%- js('/js/codeBlock/codeLang.js') %>
<!-- 代码块复制 -->
<%- js('/js/codeBlock/codeCopy.js') %>
<!-- 代码块收缩 -->
<%- js('/js/codeBlock/codeShrink.js') %>

<script>
  $(function () {
    const gallery = new Viewer(document.getElementById("post-main-content"));
  });
</script>
<%- partial('_partial/comment') %>
