<div class="card mb-2">
  <div class="card-body">
    <h2 class="card-title title-link">
      <a href="<%- url_for(item.path) %>"> <%= item.title %> </a>
    </h2>
    <h6 class="card-subtitle mb-2 text-muted">
      <time datetime="<%= item.date.toDate().toISOString() %>">
        <%= item.date.format(config.date_format) %>
      </time>
    </h6>
    <p class="card-text"><%- item.excerpt %></p>
    <a href="#" class="card-link"> <%- page.route %> </a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
