<head>
  <meta charset="utf-8" />
  <% 
  var title=[];
  if(is_current('/')){
    title.push(__('index'));
  }else if(is_archive()){
    title.push(__('archives'));
  }else if(is_current('friends')){
    title.push(__('friends'));
  }else{
    title.push(__(page.title));
  }
  title.push(config.title); 
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>" />
  <% } %> <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>" />
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>" />
  <% } else if (page.excerpt){ %>
  <meta
    name="description"
    content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>"
  />
  <% } else if (page.content){ %>
  <meta
    name="description"
    content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>"
  />
  <% } %> <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>" />
  <% } %>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  <% if (page.title){ %>
  <meta property="og:title" content="<%= page.title %>" />
  <% } %>
  <meta property="og:site_name" content="<%= config.title %>" />

  <% if(page.cover) { %>
  <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
  <meta property="og:image" content="<%= config.cover %>" />
  <% } %>
  <!-- favicon -->
  <%- favicon_tag(theme.logo) %>
  <!-- rss -->
  <%- feed_tag('atom.xml') %>
  <!-- bulma framework -->
  <%- css('https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css') %>
  <!-- bulma extension -->
  <%- css('css/bulma-timeline.min.css') %>
  <!-- fontawesome icon set -->
  <%-
  css('https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.min.css')
  %>
  <!-- custom style -->
  <%- css('css/custom.css') %>
  <!-- custom style -->
  <%- css('css/shoka.css') %>

  <!-- prism enable -->
  <% if(config.prismjs.enable) { %>
  <!-- prism theme -->
  <%-
  css('https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css')
  %>
  <style>
    pre {
      padding: 2rem 1rem 1rem 1rem !important;
      border-radius: 0.35rem;
      tab-size: 4;
    }

    .code-area::after {
      content: " ";
      position: absolute;
      border-radius: 50%;
      background: #ff5f56;
      width: 12px;
      height: 12px;
      top: 0;
      left: 12px;
      margin-top: 12px;
      -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
      box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
    }

    code {
      padding: 1px 5px;
      top: 13px !important;
      font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier,
        monospace;
      font-size: 0.91rem;
      color: #e96900;
      background-color: #f8f8f8;
      border-radius: 2px;
    }

    .code_copy {
      position: absolute;
      top: 0.7rem;
      right: 25px;
      z-index: 1;
      filter: invert(50%);
      cursor: pointer;
    }

    .codecopy_notice {
      position: absolute;
      top: 0.7rem;
      right: 6px;
      z-index: 1;
      filter: invert(50%);
      opacity: 0;
    }

    .code_lang {
      position: absolute;
      top: 1.2rem;
      right: 46px;
      line-height: 0;
      font-weight: bold;
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      z-index: 1;
      filter: invert(50%);
      cursor: pointer;
    }

    .code-expand {
      position: absolute;
      top: 4px;
      right: 0;
      filter: invert(50%);
      padding: 7px;
      z-index: 999 !important;
      cursor: pointer;
      transition: all 0.3s;
      transform: rotate(0deg);
    }

    .code-closed .code-expand {
      transform: rotate(-180deg) !important;
      transition: all 0.3s;
    }

    .code-closed pre::before {
      height: 0;
    }

    pre code {
      padding: 0;
      color: #e8eaf6;
      background-color: #272822;
    }
  </style>
  <!-- prism theme end -->
  <% } %>
  <!-- jauery lib -->
  <%- js('https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js') %>
  <!--[if lt IE 9
    ]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script
  ><![endif]-->
</head>
