<nav
  class="navbar is-fixed-top is-link"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="<%- url_for('/') %> ">
      <img
        src="<%- url_for(theme.logo) %>"
        alt="<%- config.title %>"
        height="28"
        class="mr-2"
      />
      <b><%- config.title %></b>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item <% if (is_archive()){ %>is-active<% } %>"
        href="/archives"
      >
        <%= __('archives') %>
      </a>
      <a
        class="navbar-item <% if (is_current('friends')){ %>is-active<% } %>"
        href="/friends"
      >
        <%= __('links') %>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="javascript:void(0)">
        <i class="fas fa-search"></i>
      </a>
      <a class="navbar-item" href="javascript:void(0)">
        <i class="fas fa-comment"></i>
      </a>
    </div>
  </div>
</nav>
<script>
  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function () {
    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");
  });
</script>
