<head>
  <meta charset="utf-8" />
  <% var title=[]; title.push(__(page.title)); title.push(config.title); %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>" />
  <% } %> <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>" />
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>" />
  <% } else if (page.excerpt){ %>
  <meta
    name="description"
    content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>"
  />
  <% } else if (page.content){ %>
  <meta
    name="description"
    content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>"
  />
  <% } %> <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>" />
  <% } %>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  <% if (page.title){ %>
  <meta property="og:title" content="<%= page.title %>" />
  <% } %>
  <meta property="og:site_name" content="<%= config.title %>" />

  <% if(page.cover) { %>
  <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
  <meta property="og:image" content="<%= config.cover %>" />
  <% } %>
  <!-- favicon -->
  <%- favicon_tag('favicon.ico') %>
  <!-- rss -->
  <%- feed_tag('atom.xml') %>
  <!-- bulma framework -->
  <%- css('https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css') %>
  <!-- bulma extension -->
  <%- css('css/bulma-timeline.min.css') %>
  <!-- fontawesome icon set -->
  <%-
  css('https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.min.css')
  %>
  <!-- custom style -->
  <%- css('css/custom.css') %>

  <!-- prism enable -->
  <% if(config.prismjs.enable) { %>
  <!-- prism theme -->
  <%-
  css('https://cdn.bootcdn.net/ajax/libs/prism/1.22.0/themes/prism-tomorrow.min.css')
  %>
  <!-- prism theme end -->
  <% } %>
  <!-- jauery lib -->
  <%- js('https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js') %>
  <!--[if lt IE 9
    ]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script
  ><![endif]-->
</head>
